.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

ol,
ul {
	list-style: none;
}

a {
	-webkit-transition: .3s;
	transition: .3s;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input::-ms-clear {
	display: none;
}

#wrapper {
	background-image: url("../images/main-bg.jpg");
}

#header {
	margin-bottom: 22px;
	position: relative;
}

#header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 33px;
	background-color: #fff;
}

.top-nav {
	padding: 10px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.top-nav .navbar-brand {
	font-family: "Bree Serif", serif;
	font-size: 22px;
	line-height: 17px;
	color: #000;
	position: relative;
	padding: 0;
	margin-right: 30px;
	max-width: 80px;
	width: 100%;
}

.top-nav .navbar-brand:after {
	content: "*/";
	position: absolute;
	font-size: 22px;
	top: 0;
	right: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	color: #53a665;
}

.top-nav .top-nav_list {
	font-family: "Bree Serif", serif;
	text-transform: uppercase;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.top-nav .top-nav_list .nav-item {
	border-bottom: 2px solid #333;
}

.top-nav .top-nav_list .nav-item:hover {
	border-color: #53a665;
}

.top-nav .top-nav_list .nav-item:last-child .nav-link {
	padding-right: 0;
}

.top-nav .top-nav_list .nav-link {
	color: #333;
	padding: 10px 0;
	position: relative;
	line-height: 16px;
}

.top-nav .top-nav_list .nav-link:hover {
	color: #53a665;
}

.top-nav .top-nav_list .nav-link:hover:after {
	color: #53a665;
}

.top-nav .top-nav_list .dropdown-toggle:after {
	border-top: .4em solid;
	border-right: .5em solid transparent;
	border-bottom: 0;
	border-left: .7em solid transparent;
	position: absolute;
	margin-left: 0;
	color: #333;
	-webkit-transition: .3s;
	transition: .3s;
	bottom: 2px;
	left: 0;
}

.top-nav .top-nav_list .dropdown-menu {
	border-radius: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent;
}

.top-nav .top-nav_list .dropdown-item:hover,
.top-nav .top-nav_list .dropdown-item:focus {
	color: #53a665;
	background-color: #fff;
}

#main {
	background-repeat: repeat-x;
}

.featured-post p {
	padding-left: 4px;
	margin-bottom: 21px;
}

.back-text {
	background-color: #fff;
	float: left;
	clear: both;
}

.section-title {
	font-size: 24px;
	line-height: 24px;
	color: #53a665;
	margin-bottom: 5px;
	font-family: "Bree Serif", serif;
	color: #000;
}

.custom-style_title {
	margin-bottom: 25px;
}

p {
	font-size: 16px;
	line-height: 24px;
	font-family: "Open Sans", sans-serif;
}

p .info-link {
	color: #53a665;
	text-decoration: underline;
}

p .info-link:hover {
	color: #53a665;
	opacity: .7;
}

.custom-style_p {
	position: relative;
}

.custom-style_p .more-link {
	position: absolute;
	right: -3px;
	bottom: -15px;
}

.more-link {
	display: inline-block;
	color: #fff;
	background-color: #53a665;
	line-height: 20px;
	padding-left: 3px;
	padding-right: 3px;
	margin-top: auto;
}

.more-link:hover {
	opacity: .7;
	color: #fff;
}

.videoplayer {
	height: auto;
	width: 100%;
	max-width: 460px;
	margin-bottom: 15px;
	vertical-align: middle;
}

.services {
	padding-top: 40px;
}

.services-title {
	padding-top: 40px;
	position: relative;
	font-family: "Bree Serif", serif;
	font-size: 24px;
	margin-bottom: 25px;
}

.services-title:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 3px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.services-title.marketing:after {
	background: url("../images/icons.png") no-repeat -2px -16px;
	width: 24px;
	height: 24px;
}

.services-title.creation:after {
	background: url("../images/icons.png") no-repeat -71px -10px;
	width: 24px;
	height: 30px;
}

.services-title.responsive:after {
	background: url("../images/icons.png") no-repeat -37px -16px;
	width: 24px;
	height: 24px;
}

.services-title span {
	color: #53a665;
}

.services-item {
	text-align: center;
	margin-bottom: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

.services-item p {
	margin-bottom: 5px;
	width: 100%;
}

.footer-line {
	position: relative;
	padding-bottom: 15px;
}

.footer-line:before {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 30px);
	top: 0;
	left: 15px;
	background-color: #ccc;
}

.footer-line:after {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 30px);
	top: 1px;
	left: 15px;
	background-color: #fff;
}

.copyright {
	font-size: 10px;
	color: #808080;
	line-height: 25px;
	display: none;
}

.social-nav {
	padding-top: 8px;
}

.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social-link {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
}

.social-link:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}

.social-link.rss:before {
	background: url("../images/icons.png") no-repeat -2px -58px;
	width: 24px;
	height: 25px;
}

.social-link.facebook:before {
	background: url("../images/icons.png") no-repeat -38px -58px;
	width: 24px;
	height: 25px;
}

.social-link.twitter:before {
	background: url("../images/icons.png") no-repeat -74px -58px;
	width: 24px;
	height: 25px;
}

.social-link:hover {
	opacity: .7;
}

.social-item {
	margin-left: 5px;
	margin-right: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social-item:last-child {
	margin-right: 0;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#wrapper {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	min-height: 100vh;
}

#main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

@media (min-width: 768px) {
	#header {
		background-color: rgba(255, 255, 255, .73);
		margin-bottom: 48px;
	}

	#header:before {
		content: none;
	}

	.top-nav {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 17px 0 16px;
	}

	.top-nav .navbar-brand {
		font-size: 30px;
		line-height: 30px;
		max-width: 110px;
	}

	.top-nav .navbar-brand:after {
		font-size: 24px;
	}

	.top-nav .top-nav_list {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		width: auto;
	}

	.top-nav .top-nav_list .nav-item {
		border: none;
	}

	.top-nav .top-nav_list .nav-item:not(:last-child) .nav-link:before {
		content: "/";
		position: absolute;
		right: 0;
	}

	.top-nav .top-nav_list .nav-link {
		padding: 8px 17px;
	}

	.top-nav .top-nav_list .dropdown-toggle:after {
		left: 50%;
		bottom: -3px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.top-nav .top-nav_list .dropdown-menu {
		background-color: rgba(255, 255, 255, .8);
	}

	.top-nav .navbar-nav .dropdown-menu {
		position: absolute;
	}

	#main {
		background-image: url("../images/content-bg.jpg");
	}

	.section-title {
		color: #53a665;
	}

	.custom-style_title {
		margin-bottom: 15px;
	}

	.services-title {
		margin-bottom: 0;
	}

	.services-item {
		margin-bottom: 45px;
	}
}

@media (min-width: 992px) {
	#header {
		margin-bottom: 26px;
	}

	.top-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 17px 0 23px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.top-nav .top-nav_list .nav-link {
		padding: 7px 13px;
	}

	.featured-post {
		padding-top: 22px;
	}

	.videoplayer {
		margin-bottom: 25px;
	}

	.videoplayer {
		margin-top: 55px;
		max-width: 460px;
	}

	.services {
		padding-top: 58px;
	}

	.copyright {
		display: inline-block;
	}

	.social-list {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}
